@tailwind base;
@tailwind components;
@tailwind utilities;


/* Proprietary fonts are in https://github.com/replicate/replicate-webfonts (private) */

/* https://www.atipofoundry.com/fonts/basier */

@font-face {
  font-family: "basier_square";

  src: url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot");

  src: url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff2")
      format("woff2"),
    url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.woff")
      format("woff"),
    url("https://fonts.replicate.ai/Basier-Square-regular-webfont/basiersquare-regular-webfont.ttf")
      format("truetype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: "basier_square";

  src: url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.eot");

  src: url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.woff2")
      format("woff2"),
    url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.woff")
      format("woff"),
    url("https://fonts.replicate.ai/Basier-Square-bold-webfont/basiersquare-bold-webfont.ttf")
      format("truetype");

  font-weight: 800;

  font-style: normal;
}

@font-face {
  font-family: "basier_square";

  src: url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.eot");

  src: url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.woff2")
      format("woff2"),
    url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.woff")
      format("woff"),
    url("https://fonts.replicate.ai/Basier-Square-regularitalic-webfont/basiersquare-regularitalic-webfont.ttf")
      format("truetype");

  font-weight: 400;

  font-style: italic;
}

@font-face {
  font-family: "basier_square";

  src: url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.eot");

  src: url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.woff2")
      format("woff2"),
    url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.woff")
      format("woff"),
    url("https://fonts.replicate.ai/Basier-Square-bolditalic-webfont/basiersquare-bolditalic-webfont.ttf")
      format("truetype");

  font-weight: 800;

  font-style: italic;
}

/* https://www.atipofoundry.com/fonts/basier-mono */

@font-face {
  font-family: "basier_square_mono";

  src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.eot");

  src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.woff2")
      format("woff2"),
    url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.woff")
      format("woff"),
    url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-regular-webfont.ttf")
      format("truetype");

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: "basier_square_mono";

  src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.eot");

  src: url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.woff2")
      format("woff2"),
    url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.woff")
      format("woff"),
    url("https://fonts.replicate.ai/Basier-Mono-Square-Webfont/basiersquaremono-bold-webfont.ttf")
      format("truetype");

  font-weight: 800;

  font-style: normal;
}

body {
  font-family: basier_square, Helvetica, sans-serif;
  @apply text-white;
}

h1 {
  font-weight: bold;
  @apply p-32 text-2xl ;
}

h2 {
  font-weight: bold;
  @apply tracking-tight text-xl;
}

h3 {
  @apply tracking-tight text-lg opacity-50;
}

pre,
code,
kbd,
samp,
.code,
.monospace {
  font-family: basier_square_mono, monospace;
}

section {
  @apply justify-center bg-gray-800 relative flex;
  height: 100vh;
  width: 100ww;
  page-break-before: always;
}

section > .centered {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

section > .container {
  @apply w-4/5 h-4/5
}

section img {
  @apply max-w-full max-h-full text-center mx-auto;
}

ul {
  @apply text-base;
}

li {
  @apply text-base py-2;
}

p {
  @apply w-4/5 m-auto text-base;
}

a {
  @apply underline;
}

.inline-bg {
  @apply bg-black bg-opacity-70 box-decoration-clone	px-5 rounded-md
}

figcaption {
  @apply text-center text-base;
}
.react-icons {
  vertical-align: middle;
}
/* value={{ color: "blue", className: "global-class-name" }} */